<% include ../partials/header %>
    <div class="ui main text container segment">
       <div class="ui huge header centering">Edit <%=member.name%></div>
       <form class="ui form" action="/admin/members/<%=member._id%>?_method=PUT" method="POST">
           <div class="field">
               <label>Title</label>
               <input type="text" name="member[position]" placeholder="<%=member.position%>" required>
           </div>
           <div class="field">
               <label>name</label>
               <input type="text" name="member[name]" placeholder="<%=member.name%>" required>
           </div>
           <div class="field">
               <label>email</label>
               <input type="text" name="member[email]" placeholder="<%=member.email%>" required>
           </div>
           <div class="field">
               <label>Image</label>
               <input type="text" name="member[image]" placeholder="<%=member.image%>" required>
           </div>
           <div class="centering">
               <input class="ui violet basic button" type="submit" value="Submit">
           </div>
         </form>
         <a href="/admin/members">Back</a>
    </div>
</div>
<% include ../partials/footer %>