<% include ../partials/header %>
<br>
<h4 class="ui horizontal header divider">
    <a class="ui orange basic button" href="members/new">Add New Member</a>
</h4>
<div class="ui container">
    <div class="column">
        <div class="ui centered cards">
            <%if(members && members.length > 0){%>
                <% members.forEach((member)=>{%>
                    <div class="card">
                        <div class="content">
                            <img class="right floated mini ui image" src="<%=member.image%>">
                            <div class="header">
                                <%=member.name%>
                            </div>
                            <div class="meta">
                                <%=member.position%>
                            </div>
                            <div class="description">
                                <%=member.email%>
                            </div>
                        </div>
                        <div class="ui two bottom attached buttons">>
                            <a class="ui attached yellow button" href="members/<%=member._id%>/edit">Edit</a>
                            <form style="width:100%;" action="members/<%=member._id%>?_method=DELETE" method="POST">
                                <input style="width:100%;" type="submit" class="attached ui button negative" value="Delete">
                            </form>
                        </div>
                    </div>
                <%})%>
            <%}%>
       </div>
    </div>
</div>
    <br>
</div>
<% include ../partials/footer %>