<% include ../partials/header %>
    <div class="ui main text container segment">
       <div class="ui huge header centering">Edit <%=slide.title%></div>
       <form class="ui form" action="/admin/slide/<%=slide._id%>?_method=PUT" method="POST">
           <div class="field">
               <label>Title</label>
               <input type="text" name="slide[title]" placeholder="title" value="<%=slide.title%>" required>
           </div>
           <div class="field">
               <label>Image</label>
               <input type="text" name="slide[image]" placeholder="Image URL" value="<%=slide.image%>"required>
           </div>
           <div class="field">
               <label>Description</label>
               <textarea name="slide[description]" required><%=slide.description%></textarea>
           </div>
           <div class="ui small header centering">Button</div>
           <div class="field">
               <label>Button Name</label>
               <input type="text" name="slide[button_value_]" placeholder="Button Name" value="<%=slide.button_value%>">
               <label>Button Link</label>
               <input type="text" name="slide[button_link_]" placeholder="Button Link" value="<%=slide.button_link%>">
           </div>
           <label>Order</label>
           <div class="field">
                <input type="number" name="slide[order]" min="1" step="1" value="1">
            </div>
           <div class="centering">
               <input class="ui violet basic button" type="submit" value="Submit">
           </div>
         </form>
         <a href="/slide">Back</a>
    </div>
<% include ../partials/footer %>
